body{
    background-color: rgb(240, 240, 240);
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
   
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
}
.container{
    width: fit-content;
    margin: 50px auto;
    position: relative;

}
.slide{
    object-fit: cover;
    width: 600px;
    height: 500px;
    border-radius: 10px;
}
.ico-action{
    height: 80px;
    position: absolute;
    cursor: pointer;
    transition: 0.5s;
}
.ico-prev{

    left: 0px;
    top: 40%;
}
.ico-prev:hover{
    transform: scale(0.8); translate: -20px;
}
.ico-next{
    right: 0px;
    top: 40%;
}
.ico-next:hover{
    transform: scale(0.8); translate: 20px;
}